.container {
    width: 1920px;
    margin: 0 avto;
    padding: 0 230px;
    background-color: #171717;
}

.page-header {
    display: flex;
    justify-content: space-between;
    padding-top: 45px;
}

.page-header-image {
    display: inline-block;
    width: 216px;
    height: 33px;
    margin-top: 46px;
}

.page-header-button {
    display: inline-block;
    color: #E4B564;
    border: 1px solid #E4B564;
    padding: 10px 25px;
    margin-left: 1472px;
}

.page-header-button-img {
    display: inline-block;
    margin-right: 10px;
}

.page-header-button-link {
    font-family: Roboto;
    font-weight: 400;
    size: 18px;
    line-height: 30px;
    text-decoration: none;
    color: #E4B564;
}

.page-title {
    margin-top: 120px;
}

.page-title-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.page-text {
    margin-top: 41px;
    margin-right: 508px;
}

.page-paragraph {
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
}

.container-top {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    margin-top: 41px;
    text-align: center;
}

.container-top>div {
    width: 100%;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    color: #FFFFFF;
    padding-top: 220px;
    padding-bottom: 220px;
}

.container-top>div:nth-child(1) {
    background-color: #634F2C;
    grid-column: span 2;
}

.container-top>div:nth-child(2) {
    background-color: #B4A385;
    grid-column: span 2;
}

.container-top>div:nth-child(3) {
    background-color: #E4B564;
    grid-column: span 2;
}

.container-top>div:nth-child(4) {
    background-color: #635A4A;
    grid-column: span 3;
}

.container-top>div:nth-child(5) {
    background-color: #B08C4D;
    grid-column: span 3;
}

.main-title {
    margin-top: 161px;
}

.main-title-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.container-main {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(15, 50px);
    gap: 30px;
    margin-top: 94px;
}

.container-main>div {
    font-family: Roboto;
    font-weight: 400;
    font-size: 20px;
    line-height: 22px;
    color: #FFFFFF;
    padding-top: 44px;
    padding-left: 52px;
}

.container-main>div:nth-child(1) {
    background-color: #0E0E0E;
    grid-column: span 2;
    grid-row: 1 / 6;
}

.container-main>div:nth-child(2) {
    background-color: #242424;
    grid-column: span 2;
    grid-row: 1 / 8;
}

.container-main>div:nth-child(3) {
    background-color: #1F1F1F;
    grid-column: span 2;
    grid-row: 1 / 5;
}

.container-main>div:nth-child(4) {
    background-color: #1F1F1F;
    grid-column: span 2;
    grid-row: 6 / 15;
}

.container-main>div:nth-child(5) {
    background-color: #E4B564;
    grid-column: span 2;
    grid-row: 8 / 15;
    color: #000000;
}

.container-main>div:nth-child(6) {
    background-color: #0E0E0E;
    grid-column: span 2;
    grid-row: 5 / 10;
}

.container-main>div:nth-child(7) {
    background-color: #0A0909;
    grid-column: span 2;
    grid-row: 10 / 15;
}

.wraper {
    margin: 0 auto;
    max-width: 1920px;
    padding-top: 172px;
    background-color: #0E0E0E;

}

.clients-header {
    max-width: 1460px;
    margin: 0 auto;

}

.clients-header-title {
    display: flex;
    justify-content: space-between;

}

.clients-header-title-text {
    font-family: Roboto;
    font-weight: 700;
    font-size: 50px;
    line-height: 28px;
    color: #FFFFFF;
}

.clients-header-button {
    display: inline-block;
    text-decoration: none;
    font-size: 18px;
    color: #E4B564;
    padding: 10px 40px;
    border: 1px solid #E4B564;
}

.flex-container {
    display: flex;
    max-width: 1460px;
    flex-wrap: wrap;
    padding-top: 72px;
    margin: 0 auto;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 485px;
    height: 390px;
    text-align: center;
    margin: 0 auto;
}

.item>img {
    display: block;
}

.item1 {
    background-color: #634F2C;
}

.item2 {
    background-color: #E8D2ABC2;
    flex-wrap: wrap;
}

p {
    color: #FFFFFF;
}

.adress {
    color: #FFFFFF;
    font-weight: normal;
    line-height: 28px;
}

.item3 {
    background-color: #E4B564;
}

.item4 {
    background-color: #635A4A;
}

.item5 {
    background-color: #B08C4D;
}

.item6 {
    background-color: #634F2C;
}

.footer {
    height: 239px;
    background-color: #171717;
}